/track_examples
/rDNA_quantification/plot
/rDNA_quantification/data
/heatmaps/plot
/heatmaps/data
/Flag_comparisons/plot
/Flag_comparisons/data
/correlationplots/plot
/correlationplots/data
R-loop\ paper_Figures.pptx
Updated\ R-loop\ paper_Figures.pptx
~$Updated\ R-loop\ paper_Figures.pptx
.ipynb_checkpoints/
.~lock.R-loop\ paper_Figures.pptx#
~$Updated\ R-loop\ paper_Figures.pptx
.Rhistory
